/*menu nawigacyjne*/

nav {
    background: none;
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
}

.menu > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a:hover {
    color: yellow;
}

.about a {
    color: blue;
    text-decoration: none;

}

.skills a {
    color: red;
    text-decoration: none;
}

.portfolio a {
    color: black;
    text-decoration: none;
}

.contact a {
    color: green;
    text-decoration: none;
}

/*sekcja About us*/

.about1 {
    background-color: skyblue;

}

/*Sekcja Skills*/

.kwadrat {

    height: 100px;
    width: 100px;
    position: absolute;
    border-color: white;
    display: flex;
    margin: 2px;
}

#pierwszy {
    background-color: red;
    left: 120px;
}

#drugi {
    background-color: yellow;
    left: 240px;
}

#trzeci {
    background-color: purple;
    left: 360px;
}

#czwarty {
    background-color: blue;
    left: 480px;
}
